.container {
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: calc(100% - 40px);
    height: calc(100% - 30px);
    background-color: #148ba0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
        ". . . . settings";
    align-content: center;
    justify-items: center;
}

.settings{
    cursor: pointer;
    grid-area: settings;
    height: 100%;
}

.settings img{
    width: 30px;
    height: 30px;
    filter: invert(1);
}
@keyframes settings-spin-animation {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}
.settings img:hover {
    animation-name: settings-spin-animation;
    animation-duration: 0.5s;
}